$background1: #11110b;
$background2: #232323;
$background3: #a55900;
$background4: #fbd283;
$radius: 20px;

$font-medium: 500;
$font-bold: 800;

$padding-default: 0px 60px;
$padding-responsive: 20px 20px;
